body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0 8px;
}

h1 {
  color: rgb(14, 102, 95);
  text-align: left;
  display: inline-block;
  margin: 0 10px 0;
  font-size: 30px;
}

h2 {
  color: rgb(14, 102, 95);
  text-align: left;
  display: inline-block;
  margin: 0 10px 0;
  font-size: 21px;
}

h3 {
  color: rgb(14, 102, 95);
  font-size: 23px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 5px solid rgb(14, 102, 95);
  margin-left: -8px;
  margin-right: -8px;
}
.main-header img {
  width: auto;
  height: 40px;
}

.ul-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}
.ul-header a {
  text-decoration: none;
  color: rgb(14, 102, 95);
  font-weight: 500;
  font-size: 17px;
}

.nav-header {
  align-items: center;
  display: flex;
}

.iconoinstagram img {
  width: 40px;
  height: 40px;
}

.header-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  background-color: black;
  margin-left: -8px;
  margin-right: -8px;
  text-align: center;
}

.logo {
  width: 60px;
  height: 60px;
}

.links {
  background-color: rgb(14, 102, 95);
  padding: 0 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.links:hover {
  background-color: rgb(14, 102, 95);
}

.links a {
  color: #ffffff;
}

.container-fluid .hamburger {
  background-color: rgb(14, 102, 95);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.imageportada {
  position: relative;
  margin-left: -8px;
  margin-right: -8px;
}
.imageportada img {
  width: 100%;
  height: auto;
}
.imageportada a:hover {
  text-decoration: underline;
  color: rgb(60, 173, 136);
}
.imageportada a {
  display: block;
  position: absolute;
  bottom: 10%;
  right: 15%;
  font-size: 25px;
  color: rgb(52, 132, 143);
  text-decoration: none;
  animation: pulse 2s infinite;
  transform-origin: center;
  will-change: transform;
}

.carruselportafolio {
  max-width: 70%;
}

.maincontainer {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.serviciosContainer {
  display: flex;
  flex-direction: row;
  margin: 70px 0;
  justify-content: center;
}
.serviciosContainer h3 {
  margin-top: 15px;
}
.serviciosContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serviciosContainer div img {
  width: 300px;
  border-radius: 10%;
  height: auto;
}
.serviciosContainer div p {
  padding: 0 50px;
  text-align: justify;
}

.imagenosotros img {
  width: auto;
  height: 400px;
}

.nosotrosContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 70px 0;
  max-width: 50%;
  align-items: center;
  text-align: justify;
}
.nosotrosContainer img {
  border-radius: 10%;
}

.mainNosotros {
  display: flex;
  justify-content: center;
}

.formContacto {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 70px 0;
}
.formContacto textarea {
  max-width: 400px;
  max-height: 200px;
  min-width: 400px;
  min-height: 60px;
}
.formContacto input {
  height: 35px;
  min-width: 400px;
}
.formContacto label {
  display: block;
}
.formContacto .btn {
  background-color: rgb(52, 132, 143);
  color: rgb(211, 238, 229);
  display: block;
  margin: auto;
}

.sectionContacto {
  min-width: 400px;
}

.mainContacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  margin: auto;
  gap: 50px;
}

.contactoMensaje {
  height: 60px;
}

@media (min-width: 375px) and (max-width: 752px) {
  .main-header {
    display: block;
  }
  .main-header .header-container {
    display: none;
  }
  .main-header .nav-header {
    display: none;
  }
  .imageportada img {
    aspect-ratio: 9/16;
    object-fit: cover;
  }
  .maincontainer.portafolio {
    margin: 0 0 5px;
  }
  .carruselportafolio {
    max-width: none;
    margin: 0 -8px;
  }
  .carruselportafolio img {
    aspect-ratio: 9/16;
    object-fit: cover;
  }
  .serviciosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nosotrosContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 80%;
    text-align: justify;
  }
  .mainContacto {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mainContacto .sectionContacto {
    min-width: 100%;
  }
  .mainContacto .formContacto {
    margin-bottom: 0px;
  }
  .mainContacto .formContacto input {
    min-width: 100%;
  }
  .mainContacto .formContacto textarea {
    min-width: 100%;
    max-width: 100%;
  }
  .mainContacto .textoContacto {
    text-align: justify;
    padding: 0 5px;
    max-width: 100%;
  }
  .footerCopyright {
    font-size: 14px;
  }
  .navbar-brand h1 {
    font-size: 20px;
  }
}
@media (min-width: 753px) {
  .main-header .navbar {
    display: none;
  }
}
@media (min-width: 753px) and (max-width: 835px) {
  .main-header .header-container h1 {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}

/*# sourceMappingURL=styles.css.map */
