body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1 {
    Color: rgb(14, 102, 95);
    text-align: left;
    display: inline-block;
    margin-left: 10px;
}
h2 {
    Color: rgb(14, 102, 95);
    text-align: center;
}
.main-header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    img{
        width: auto;
        height: 40px;
    }
}
.ul-header{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    text-transform: uppercase;
    a{
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 17px;
    }  
} 
.imageportada{    
    position: relative;
    margin-left: -8px;
    margin-right: -8px;
    img{
        width: 100%;    
        height: auto;
    }
    a:hover{
        text-decoration: underline;
        color: rgb(60, 173, 136);
    }
    a{
        display: block;
        position: absolute;
        bottom: 45px;
        right: 45px;
        font-size: 37px;
        color: rgb(14, 102, 95);
        text-decoration: none;
    }
}
.nav-header{
    align-items: center;
    display: flex;
}
.iconoinstagram{
    img{
        width: 40px;    
        height: 40px;
    }
}
.imagenosotros{
    img{
        width: auto;    
        height: 400px;
    }
}
.header-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: white;
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
}