.formContacto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 70px 0;

    textarea {
        max-width: 400px;
        max-height: 200px;
        min-width: 400px;
        min-height: 60px;
    }

    input {
        height: 35px;
        min-width: 400px;
    }

    label {
        display: block;
    }

    .btn {
        background-color: $color-terciario;;
        color: rgb(211, 238, 229);
        display: block;
        margin: auto;
    }
}

.sectionContacto {
    min-width: 400px;
}

.mainContacto {
    @include flex-direction(row);
    align-items: center;
    width: fit-content;
    margin: auto;
    gap: 50px;
}

.contactoMensaje {
    height: 60px;
}