@media (min-width:375px) and (max-width: 752px) {
    .main-header {
        display: block;

        .header-container {
            display: none;
        }

        .nav-header {
            display: none;
        }
    }

    .imageportada img {
        aspect-ratio: 9/16;
        object-fit: cover;
    }
.maincontainer.portafolio{
        margin: 0 0 5px;
}
    .carruselportafolio {
        max-width: none;
        margin: 0 -8px;

        img {
            aspect-ratio: 9/16;
            object-fit: cover;
        }
    }

    .serviciosContainer {
        @include flex-direction(column);
        align-items: center;
    }

    .nosotrosContainer {
        @include flex-direction(column-reverse);
        align-items: center;
        max-width: 80%;
        text-align: justify;
    }

    .mainContacto {
        @include flex-direction(column);
        width: 100%;
        .sectionContacto{
            min-width: 100%;
        }

        .formContacto {
            margin-bottom: 0px;
            input{
                min-width: 100%;
            }
            textarea{
                min-width: 100%;
                max-width: 100%;
            }
            
        }

        .textoContacto {
            text-align: justify;
            padding: 0 5px;
            max-width: 100%;
        }
    }

    .footerCopyright {
        font-size: 14px;
    }

    .navbar-brand h1 {
        font-size: 20px;
    }
}

@media (min-width: 753px) {
    .main-header {
        .navbar {
            display: none;
        }
    }
}

@media (min-width: 753px) and (max-width: 835px) {
    .main-header {
        .header-container {
            h1 {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .navbar-nav {
        @include flex-direction(column);
        text-align: right;
    }
}