.serviciosContainer {
    @include flex-direction(row);
    margin: 70px 0;
    justify-content: center;

    h3 {
        margin-top: 15px;
    }

    div {
        @include flex-direction(column);
        align-items: center;

        img {
            width: 420px;
            @include border-radius(10%);
            height: auto;
        }

        p {
            padding: 0 50px;
            text-align: justify;
        }
    }
}